*{
  margin: 0;
  padding: 0;
}

body {
  color: #5D6063;
  background-color: #EAEDF0;
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.3;


  display: flex;
  flex-direction: column;
  align-items: center;
}


.mainContainer{
    display: grid;
    grid-template-columns: 1fr 3fr;
    width: 100%;

    gap: 20px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.sideBar{
    grid-column-start: 1;
    grid-column-end: 2; /* spans only column 1 */
    justify-content: center;
    margin:0;
}

#cardContainer {
    grid-column-start: 2;
    grid-column-end: 4; /* spans columns 2 and 3 */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    flex-wrap: wrap;
    width:90%;
    gap: 20px;
    padding: 20px;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

.addBookForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #F6F7F8;
    border: 10px solid #D6D9DC;
    border-radius: 3px;
    padding: 2%;

}

.form-row {
  margin-bottom: 40px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
}

.form-row input[type='text'] {
  background-color: #FFFFFF;
  border: 1px solid #D6D9DC;
  border-radius: 3px;

  padding: 7px;
  font-size: 14px;
}

.form-row input[type='number'] {
  background-color: #FFFFFF;
  border: 1px solid #D6D9DC;
  border-radius: 3px;

  padding: 7px;
  font-size: 14px;
}

.form-row label {
  margin-bottom: 15px;
}



.form-row button {
  font-size: 16px;
  font-weight: bold;

  color: #FFFFFF;
  background-color: #5995DA;

  border: none;
  border-radius: 3px;

  padding: 10px 40px;
  cursor: pointer;
}


.alreadyReadsection {
  border: none;
  margin-bottom: 40px;
}

.alreadyReadsectionlegend {
  margin-bottom: 15px;
}

.alreadyReadsection .radio-label {
  display: block;
  font-size: 14px;
  padding: 0 20px 0 10px;
}

.alreadyReadsection input[type='radio'] {
  margin-top: 2px;
}
  
.alreadyReadsection .radio-label,
.alreadyReadsection input[type='radio'] {
  float: left;
}

.form-row button:hover {
  background-color: #76AEED;
}

.form-row button:active {
  background-color: #407FC7;
}


